<!DOCTYPE html>
<html>

  <head>
    <link data-require="bootstrap-css@3.0.0" data-semver="3.0.0" rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
		<script data-require="jquery@2.0.3" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script data-require="angular.js@1.2.0-rc3" data-semver="1.2.0-rc3" src="http://code.angularjs.org/1.2.0-rc.3/angular.min.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
    <script src="youtubeplayer.js"></script>
    <script src="filters.js"></script>
  </head>

  <body ng-app="myApp">
  
    <div class="col-lg-12">
      
    <div ng-controller="YoutubeSearchController">
											
			<div class="row">
				<div class="col-lg-12 playlist-videos-container">
		        <div ng-repeat="video in playlistVideos">
		          <div class="playlist-video" ng-click="removeVideo($index)" ng-show="editPlaylistView">
		            <img class="search-result-img" ng-src="{{video.thumbnail}}"/>
		            <div class="playlist-video-title">{{video.title | truncate:35:"..." }}</div>
		            <div class="playlist-video-delete"><span class="glyphicon glyphicon-trash"></span></div>
		          </div>
		          <div class="playlist-video" ng-click="playVideo(video)" ng-hide="editPlaylistView">
		            <img class="search-result-img" ng-src="{{video.thumbnail}}"/>
		            <div class="playlist-video-title">{{video.title | truncate:35:"..." }}</div>
		            <div class="playlist-video-delete"><span class="glyphicon glyphicon-play"></span></div>
		          </div>
		        </div>
				</div>
			</div>
			
			<div class="row">
				
				<div class="col-lg-12">
					<h4 class="youtube-header">youtube & angularjs</h4>
		      <div id="ytplayer" youtube-player></div>
		      
		      <div class="row">
		          <div class="col-lg-4 player-btns">
                <button class="btn btn-success playlist-btn" ng-click="togglePlaylistView()" ng-show="editPlaylistView">play</button>
							  <button class="btn btn-primary playlist-btn" ng-click="togglePlaylistView()" ng-hide="editPlaylistView">edit</button>
		            <button class="btn btn-primary" ng-click="previousVideo()"><next><span class="glyphicon glyphicon-step-backward"></span></button>
						  	<button class="btn btn-primary" ng-click="togglePlayerState()"><span class="glyphicon glyphicon-play"></span><span class="glyphicon glyphicon-pause"></span></button>
							  <button class="btn btn-primary" ng-click="nextVideo()"><span class="glyphicon glyphicon-step-forward"></span></button>
							  <button class="btn btn-primary" ng-click="toggleSearchView()">toggle search</button>
		          </div>
		      </div>
		      
		      <div ng-show="searchView">
		        <input type="text" name="search" ng-model="search" ng-change="getData()" class="youtube-input" />
			        <div class="youtube-results-container">
			          <div ng-repeat="video in videos" class="video-search-result-container">
			            <div class="search-result-video" ng-click="addVideo(video)">
			              <img class="search-result-img" ng-src="{{video.thumbnail}}" />
			              <div class="search-result-title">{{video.title | truncate:35:"..." }}</div>
			              <div class="search-result-add"><span class="glyphicon glyphicon-plus"></span></div>
			              <div class="search-result-meta">{{ video.duration | durationconverter }}</div>
			            </div>
			          </div>
			        </div>
			        
		      </div>
				</div>
			</div>
				
			</div>
	  
    </div>
    
    </div>
      
      
    <script>
    var tag = document.createElement('script');
    tag.src = "http://www.youtube.com/iframe_api"
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
    </script>
    
  </body>

</html>
